{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %} News {% endblock title %}


{% block content %}

    <h1>Все новости в категории <span>{{ category.name }}</span></h1>


<div>
    {% if subscribed %}
    <a href="{% url 'unsubscribe' category.id %}">
        <button>Отписаться</button>
    </a>
    {% else %}
    <a href="{% url 'subscribe' category.id %}">
        <button>Подписаться</button>
    </a>
    {% endif %}
</div>


    <p>Количество новостей: {{ news|length }}</p>

    {% for newsdetail in news %}
        <h2 class="news-title"> <a href="{% url 'newsdetail' newsdetail.id %}">{{ newsdetail.postTitle|censor:'***' }}</a> </h2>

        {% for category in newsdetail.postCategory.all %}
            <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
        {% endfor %}

        <p>{{ newsdetail.datetimeCreation|date:'d F Y' }}</p>
        <p>{{ newsdetail.postText|truncatewords:50|censor:'***' }}</p>
        <a href="{% url 'news_edit' newsdetail.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
        <a href="{% url 'news_delete' newsdetail.id %}"><u>Удалить</u></a>
    {% endfor %}

<!--{% if page_obj.has_previous %}-->
<!--<nav class="list-pages">-->
<!--    <li class="page-num">-->
<!--       <a href="?page={{ page_obj.previous_page_number }}">Previous</a>-->
<!--    </li>-->
<!--   {% endif %}-->
<!--   <li class="page-num">-->
<!--        <span class="current-page">{{ page_obj.number }}</span>-->
<!--    </li>-->
<!--   {% if page_obj.has_next %}-->
<!--    <li class="page-num">-->
<!--       <a href="?page={{ page_obj.next_page_number }}">Next</a>-->
<!--   </li>-->
<!--</nav>-->
<!--{% endif %}-->

{% endblock content %}