<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
            <h1>Вы действительно хотите удалить данную новость?</h1>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить">
</form>
            <h2>{{ newsdetail.postTitle|censor:'***' }}</h2>
            <p>{{ newsdetail.datetimeCreation|date:'d F Y G:i' }}</p>
            <p>{{ newsdetail.postText|censor:'***' }}</p>


{% endblock content %}

