<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Собственный фильтр  -->
{% load custom_filters %}
<!-- Название  -->
{% block title %} News {% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    {% load cache %}
        {% cache 30 header %}
            {% for category in categories %}
                <a href="{% url 'category_detail' category.id %}"> {{ category.name }}</a>
            {% endfor %}
        {% endcache %}

    <h1>Все новости</h1>
    <p>Количество новостей: {{ news|length }}</p>

    {% for newsdetail in news %}
        <h2 class="news-title"> <a href="{% url 'newsdetail' newsdetail.id %}">{{ newsdetail.postTitle|censor:'***' }}</a> </h2>

        {% for category in newsdetail.postCategory.all %}
            <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
        {% endfor %}

        <p>{{ newsdetail.datetimeCreation|date:'d F Y' }}</p>
        <p>{{ newsdetail.postText|truncatewords:50|censor:'***' }}</p>
        <a href="{% url 'news_edit' newsdetail.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
        <a href="{% url 'news_delete' newsdetail.id %}"><u>Удалить</u></a>
    {% endfor %}

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

<nav class="list-pages">
    <ul>
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page=1">Первая</a>
        </li>
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        </li>

    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-num">
                <a>{{ num }}</a>
            </li>

        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-num">
                <a href="?page={{ num }}">{{ num }}</a>
            </li>

        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
        </li>
        <li class="page-num">
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}