<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

            <h2>{{ newsdetail.postTitle|censor:'***' }}</h2>
            <p>{{ newsdetail.datetimeCreation|date:'d F Y G:i' }}</p>
            <p>{{ newsdetail.postText|censor:'***' }}</p>


    {% for с in news.category.values %}
        <a href="{% url 'category.html' c.id %}">{{ c.name }}</a>
    {% endfor %}

{% endblock content %}

