<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Собственный фильтр  -->
{% load custom_filters %}
<!-- Название  -->
{% block title %} News {% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    <p>Количество новостей: {{ news|length }}</p>

    <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому -->
        <input type="submit" value="Найти">
    </form>

    {% for newsdetail in filter.qs %}
        <h2 class="news-title"> {{ newsdetail.postTitle|censor:'***' }} </h2>
        <p>{{ newsdetail.datetimeCreation|date:'d F Y' }}</p>
        <p>{{ newsdetail.postText|truncatewords:50|censor:'***' }}</p>
    {% endfor %}

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

<nav class="list-pages">
    <ul>
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page=1">Первая</a>
        </li>
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        </li>

    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-num">
                <a>{{ num }}</a>
            </li>

        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-num">
                <a href="?page={{ num }}">{{ num }}</a>
            </li>

        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
        </li>
        <li class="page-num">
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}